#div1 {
    width: 100%;
    background-color: darkblue;
    color: white;
}

#div2 {
    background-color: floralwhite;
}

#div3 {
    width: 50%;
}

#div4 {
  margin-bottom: 1%;
}

#div5 {
  color: currentColor;
    background-color: cornsilk;
    margin-top: 1%;
}

#td1 {
  width: 8%;
  padding-left: 2%;
}

<!---------- Classes------------->
div a:active {
    list-style-type: none;
    padding: 10px;
    display: inline-block;
    transition: background-color .5s, text-decoration;
    text-shadow: rgba(72, 19, 219, 0.658) 3px 3px 10px ;
}

.shadow-example:hover{
  border: 1px solid rgb(19, 212, 230);
  border-radius: 10px;
  width: 100%;
  background-color:rgb(55, 14, 168);
  height: 70px;
  box-shadow:#1ee0d6 6px 4px 12px 4px;
  transform: rotate(360deg);

animation-duration: 6s;
}
@keyframes blinking-box {
  25%{ background-color: yellow; }
  50%{ background-color: rgb(50, 105, 43); }
  75%{ background-color: rgb(221, 55, 213); }
  100%{ background-color: rgb(255, 81, 0); }
  
}

.apple{
  text-shadow: rgb(128, 15, 15);
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; 
}
.shadow-example{
  border: 1px solid rgb(6, 58, 202);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  box-shadow:16px;
  background-color: white;
  transition:border 1.5s, box-shadow 1.5s ,background-color 1.5s ;
}

